# Automatically enter nix development shell when entering this directory
# Requires: direnv (https://direnv.net/)
#
# First time setup:
#   1. Install direnv: https://direnv.net/docs/installation.html
#   2. Hook into your shell: https://direnv.net/docs/hook.html
#   3. Run: direnv allow
#
# This will automatically load the nix environment whenever you cd into this directory.

if command -v nix &> /dev/null; then
    use flake
else
    echo "Nix not installed. Run 'just install-nix' to install it."
fi

